@charset "ISO-8859-1";

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.form-container{
	padding-top: 100px !important;
	padding-bottom: 100px !important;
}

.product-card{
	margin-top: 32px !important;
}